body{
    background-image: url('../img/kidz-tub.jpeg');
        /*background-repeat: repeat;*/
    background-color: blueviolet;
    font-family: "Comic Sans MS";
    color: lightgrey;
}

h3{
    margin:auto;
    display:flex;
    align-content: center;
    justify-content: center;
    padding-top: 10px;

}