body{
    background-image: url('../img/kidz-tub.jpeg');
        /*background-repeat: repeat;*/
    font-family: "Comic Sans MS";
    color: deeppink;

}
p{
    text-decoration: underline;
}
hr{
    width: 75%;
    color: deeppink;
    height: 5px;
}
h3{
    margin:auto;
    display:flex;
    align-content: center;
    justify-content: center;
    padding-top: 10px;

}